@font-face {
    font-family: 'Young Serif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-style: normal;
}



body {
    width: 100vw;
    height: auto;
    background-color: #F3E5D7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    margin-bottom: 128px;

}

main {
    box-sizing: border-box;
    width: 736px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: #ffffff;
}

img {
    height: 300px;
    align-self: stretch;
    border-radius: 12px;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 32px
}

.title {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

h1 {
    all: unset;
    align-self: stretch;
    color: #312E2C;
    font-family: 'Young Serif';
    font-size: 40px;
    line-height: 100%;
}

.recipe-description,
.nutrition-description {
    align-self: stretch;
    color: #5F564D;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;


}

.preparation {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
    gap: 16px;
    border-radius: 12px;
    background: #FFF7FB;
}

h3 {
    all: unset;
    align-self: stretch;
    font-family: 'Outfit';
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: #7A284E;
}



.time-list {
    margin: 0;
    padding: 0;
    padding-left: 8px;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;
}

.time-list .name-of-veriable {
    margin-left: 16px;
}

.name-of-veriable {
    flex: 1 0 0;
    color: #5F564D;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}

.describe {
    color: #5F564D;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

li::marker {
    color: #7A284E;
}

.line {
    align-self: stretch;
    height: 1px;
    background: #E3DDD7;
}

h2 {
    all: unset;
    align-self: stretch;
    color: #854632;
    font-family: 'Young Serif';
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;

}

.products {
    all: unset;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    list-style-position: inside;
    padding-left: 8px;
}

.li-element {
    margin-left: 16px;
}

/* .steps {
    all: unset;
    margin-top: 24px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-position: inside;
    padding-left: 8px;
    list-style-type: decimal;
    flex-shrink: 0;


}

ol li::marker {
    font-family: 'Outfit';
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
} */

.steps {
    align-self: stretch;
    counter-reset: step;
    list-style: none;
    margin: 24px 0 0 0;
    padding: 0;

}

.steps li:last-child {
    margin-bottom: 0;
}

.steps li {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 16px;
    counter-increment: step;
    margin-bottom: 8px;
    text-align: justify;
    align-items: start;
    margin-left: 8px;

}

.steps li::before {
    content: counter(step)".";
    font-family: "Outfit";
    font-weight: 700;
    font-size: 16px;
    color: #7A284E;
    text-align: left;
    line-height: 150%;

}

.nutrition {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nutrition-flex {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.nutrition-grid {
    display: grid;
    grid-template-columns: 288px 288px;
    column-gap: 16px;
}

.makro {
    color: #854632;
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
}